*{
	padding: 0;
	margin: 0;
}
body {
        position: relative;
        height: 100%;
        width:6.4rem;
}

.bg{
	width: 100%;
	height: 100%;
	/* border: 1px solid blue; */
	margin: 0 auto;
}



/* 顶部 －－－－－－－－－－－－*/
.bgtop{
	width: 100%;
	height: 0.8rem;
	background-color: lightblue;
	line-height: 0.6rem;
	vertical-align: center;
	position:fixed;
	top: 0.01rem;
}
.bgtop ul li{
	/* border: 1px solid black; */
	width: 0.5rem;
	float: left;
	margin-top: 0.12rem;
	margin-left: 0.4rem;
	color: white;
	font-size: 0.25rem
}
.bgtop ul .hidden{
	display:none;
}
.bgtop div{
	float: left;
}
.bgtop .updown img{
	width: 0.3rem;
	height: 0.3rem;

	box-sizing: border-box;
	/* border: 1px solid black; */
	vertical-align: center;
	margin-top:0.27rem;
	margin-left: 0.1rem

}
/* 搜索框 */
.bgtop #top-search input{
	width: 3.55rem;
	height: 0.4rem;
	border-radius: 0.2rem;
	background-color: lightblue;
	margin-top: 0.2rem;
	margin-left: 0.35rem;
	border: 1px solid white;
}

 .bgtop .topright img{
 	/* border: 1px solid black; */
 	width: 0.5rem;
 	height: 0.5rem;
 	margin-top: 0.15rem;
 	margin-left:0.35rem;
 	
 }
 .bgtop .bigsearch img{
 	width: 0.3rem;
	height: 0.3rem;
	box-sizing: border-box;
	/* border: 1px solid black; */
	vertical-align: center;
	top:0.28rem;
	position: absolute;
	left:1.8rem;

 }
 /* banner－－－－－－－－－－－－－ */
.swiper-container {
    width: 100%;
    height: 2rem;
    margin-top: 0.8rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}	
.swiper-slide img{
	width: 100%;
	height: 100%;
}
/* 内容－－－－－－－－－－－－－－－ */
.bg .middle .middle1{
	float: left;
	margin-top: 0.25rem;
	margin-left: 0.45rem;
}
.bg .middle .middle1 img{
	width: 1rem;
	height: 1rem;
}
.bg .middle .middle1 #relax{
	width: 1.25rem;
}
.bg .middle .middle1 #relax1{
	margin-left: 0.05rem;
	margin-right:0.23rem; 
}
.bg .middle .middle1 div{
	/* border: 1px solid black; */
	text-align: center;
	font-size: 0.2rem;
}
/* 分割线------------------------- */
.bg .middleline{
	width: 100%;
	height: 0.07rem;
	background-color:rgba(140,138,138,0.3);
	margin-top: 3.45rem;
}
/* 体验区－－－－－－－－ */
.bg .bottom{
	width:100%;
}
/*  顶端 */
.bg .bottom .bottom-top{
	width: 95%;
	margin: 0 auto;
	height: 0.5rem;
	font-size:0.18rem;
	display:flex;
	justify-content: space-between;
	line-height: 0.5rem;
	margin-top: 0.11rem;
}
.bottom .bottom-top .left .leftright,.bottom .bottom-top .middle,.bottom .bottom-top .right {
	height: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	justify-content: space-between;
}
.bottom .bottom-top .left .leftright{
	border-left:0.04rem solid cyan;
}
/* 8张图片 */
.bottom .bottom-middle{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.bottom .bottom-middle .bottom-middle1 img{
	width: 1.29rem;
	height: 1.15rem;
}
.bottom .bottom-middle .bottom-middle1 div{
	/* border: 1px solid black; */
	text-align: center;
	height: 0.35rem;
	font-weight: 200;
}
.bottom .bottom-middle .line{
	width: 100%;
	background-color:rgba(140,138,138,0.2);
	height: 0.01rem;
	margin-bottom:0.2rem;
}
/*  分割线－－－－－－－－－－－－ */
.bg .middleline1{
	margin-top: 0.2rem;
	height:0.01rem;
}
/* 广告图片 */
.bg .ad{
	width:80%;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.bg .ad img{
	width:100%;
	height: 1.15rem;
	border-radius: 0.7rem;
	
}
/*超值划算 */
.bg .bottom2{
	width: 95%;
	margin: 0 auto;
}
.bg .bottom2 .bottom2-top{
	margin-top: 0.2rem;
	width: 100%;
	height:0.5rem;
	background-color: pink;
	position: relative;
	margin: 0 auto;
	font-size: 0.22rem

}
.bg .bottom2 .bottom2-top div{
	border: 1px solid black;
	/* width: 2.4rem; */
}
.bg .bottom2 .bottom2-top .topleft{
	position: absolute;
	top:0.12rem;
	width: 1.3rem;
	border-left:0.03rem solid cyan;
	box-sizing: border-box;
}
.bg .bottom2 .bottom2-top .topmiddle{
	position: absolute;
	top:0.13rem;
	width: 2.7rem;
	left: 50%;
	left:1.35rem ;
	box-sizing: border-box;
	font-size: 0.12rem;
	font-weight: 200;
	text-align: center;
}

.bg .bottom2 .bottom2-top .topright{
	position: absolute;
	top:0.12rem;
	width: 1.3rem;
	right: 0;
	text-align: right;
}
/* 图片－－－－－－－－－－－－－－－ */
.bg .bottom2 .bottom2-bottom{
	position:relative;
	width: 100%;
    margin: 0 auto;
}
.bg .bottom2 .bottom2-bottom .img0{
	width: 1.42rem;
	height: 1.36rem;
	border: 1px solid black;

}
.bg .bottom2 .bottom2-bottom .img0 div div{
	float: left;
}
.bg .bottom2 .bottom2-bottom .img1{
	background-color: #f4cad4;
	position: absolute;
	top: 0.1rem;
}
.bg .bottom2 .bottom2-bottom .img0 .imgbor{
	width:96%;
	height:0.81rem;
	margin: 0 auto;
}
.bg .bottom2 .img1 img{
	width: 100%;
	height: 100%;
	margin-bottom: 0.01rem;
}


















